.gift-guide-banner {
  background-color: red;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.banner-top {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
}

.banner-message p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 13.42px;
  letter-spacing: 0;
  text-align: center;
}

.choose_gift_text {
  width: 207px;
  height: 44px;
  background-color: #fff544;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20.48px;
}
.banner-main {
  background-color: white;
  background-image: url("./background_main.png");
  height: 780px;
  position: relative;
}

.banner-content {
  position: absolute;
  bottom: 40px;
  padding-bottom: 30px; /* مسافة أمان تحت الزرار */
  box-sizing: border-box;
}
.banner-heading {
  font-family: "Jost";
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  font-style: Medium;
  letter-spacing: 0px;
  left: 67px;
  position: relative;

  vertical-align: middle;
}
.banner-description {
  font-family: "Jost";
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0px;
  vertical-align: middle;
  width: 483px;
  left: 67px;
  position: relative;
  padding-bottom: 30px;
}
.banner-btn--black {
  width: 220px;
  height: 50px;
  background-color: #000000;
  color: white;
  font-family: "Jost";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20.48px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
  left: 67px;
  padding: 10px 10px;
}
.banner-footer {
  text-align: center;
  background-color: #f5f5f5 !important;
}
