.gift-guide-banner {
  font-family: "Jost", sans-serif;
}

.banner-top {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.banner-message p {
  font-size: 16px;
  text-align: center;
}

.choose_gift_text {
  text-transform: uppercase;
  transition: color 0.4s ease;
  transition: 0.4s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 207px;
  height: 44px;
  background: #fff544;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.choose_gift_text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  transition: left 0.4s ease;
  z-index: -1;
}

.choose_gift_text:hover {
  color: #fff;
}

.choose_gift_text:hover::before {
  left: 0;
}

.banner-main {
  position: relative;
  height: 780px;
  background-color: white !important;
  background: url("./background_main.png") center/cover no-repeat;
}

.banner-content {
  position: absolute;
  left: 67px;
  bottom: 70px;
  max-width: 500px;
}

.banner-heading {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.banner-description--mobile {
  display: none;
}

.banner-btn--black {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
  transition: color 0.4s ease;
}
.banner-btn--black::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff544;
  color: black;
  transition: left 0.4s ease;
  z-index: -1;
}

.banner-btn--black:hover {
  color: black;
}

.banner-btn--black:hover::before {
  left: 0;
}

.banner-footer {
  background: #f5f5f5;
  text-align: center;
  padding: 12px;
}
/* hover */

@media (max-width: 767px) {
  .banner-main {
    height: 421px;
    background: url("./background_main_mobile.png") bottom center/cover
      no-repeat;
  }

  .banner-top {
    justify-content: center;
  }

  .banner-message,
  .choose_gift_text {
    display: none;
  }

  .banner-content {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
    max-width: none;
    text-align: center;
  }

  .banner-heading {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .banner-description--desktop {
    display: none;
  }

  .banner-description--mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .banner-heading,
  .banner-description {
    transform: translateY(-180px);
  }
  .banner-btn--black {
    margin: auto;
  }

  .banner-footer {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-main {
    height: 620px;
    background: url("./background_main.png") right center/cover no-repeat;
  }

  .banner-content {
    left: 40px;
    bottom: 50px;
    max-width: 420px;
  }

  .banner-heading {
    font-size: 48px;
  }

  .banner-description {
    font-size: 18px;
  }
}
